Flask==2.3.2
matplotlib==3.7.2
numpy==1.24.4
openai==0.27.8
opencv_contrib_python==4.6.0.66
opencv_python==4.6.0.66
openpyxl==3.1.2
pdfkit==1.0.0
pdfplumber==0.9.0
Pillow==10.0.0
Pillow==10.0.0
PyMuPDF==1.20.2
Requests==2.31.0
Werkzeug==2.3.6
