<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>模板</title>-->
<!--</head>-->
<!--<body>-->
<!--	<form method="POST" enctype="multipart/form-data">-->
<!--  <input type="file" name="file">-->
<!--  <input type="submit" value="Upload">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<html>
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <title>Flask示例</title>
 </head>
    <body>
      <form action = "http://localhost:5000/upload" method = "POST"
          enctype = "multipart/form-data">
          <input type = "file" name = "file" />
          <input type = "submit" value="提交"/>
       </form>
    </body>
 </html>
